$primaryColor: #c4cfde;
$secondaryColor: #ff014f;
$bgColor: #212428;

$bgInputColor: #191b1e;
$bgLinkColor1: #1e2024;
$bgLinkColor2: #23272b;
$boxShadowColor1: #1c1e22;
$boxShadowColor2: #262a2e;

$bgSettings: linear-gradient(145deg, $bgLinkColor1, $bgLinkColor2);
$boxShadowSettings: 10px 10px 19px $boxShadowColor1, -10px -10px 19px $boxShadowColor2;
$primaryFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: "Poppins", sans-serif;
