.mainBlock {
    min-height: 100vh;
    background-color: olivedrab;
    display: flex;
    align-items: center;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    border: 1px solid;
}

.photo {
    height: 400px;
    width: 350px;
    border: 1px solid;
}

.infoContainer {
    color: #ff014f;
    font-weight: bold;
    font-size: 23px;
    border: 1px solid black;
}

.infoContainer h1{
    color: #c4cfde;
}

@media screen and (min-width: 360px) and (max-width: 700px) {
    .photo {
        height: 350px;
        width: 100%;
        margin-top: 20px;
    }
}