.mainBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #212428;
    animation: bg-animation 85s ease-in-out infinite;
    background-image: url('../assets/img/bgMain.jpg');
    background-repeat: no-repeat;
}

@keyframes bg-animation {
    0% {
        background-size: 120%;
        background-position: 50% 50%
    }
    20% {
        background-size: 150%;
        background-position: 0 50%;
    }
    40% {
        background-size: 110%;
        background-position: 20% 80%;
    }
    60% {
        background-size: 160%;
        background-position: 60% 10%;
    }
    80% {
        background-size: 120%;
        background-position: 40% 70%;
    }
    100% {
        background-size: 120%;
        background-position: 50% 50%
    }
}

.container {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    flex-wrap: wrap;
}

.photo {
    height: 650px;
}

.infoContainer {
    color: #c4cfde;
    font-weight: bold;
    font-size: 23px;
    /*padding-bottom: 150px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infoContainer h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.infoContainer h1 span, .infoContainer h1 span {
    color: #ff014f;
}

.welcome {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #c4cfde;;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.imageContainer {
    position: relative;
    z-index: 1;
}

.imageContainer::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(100% - 130px);
    content: "";
    left: 50%;
    bottom: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: linear-gradient(145deg, #1e2024, #23272b);;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 6px;
}

.networkWrapper {
    margin-top: 100px;
}


@media screen and (min-width: 360px) and (max-width: 700px) {
    .mainBlock {
        background-image: url('../assets/img/bgMainMob.jpg');
        margin-bottom: 50px;
        background-repeat: repeat;
    }

    .container {
        flex-direction: column-reverse;
    }

    .infoContainer {
        padding-left: 10px;
    }

    .imageContainer {
        margin-bottom: 50px;
    }

    .photo {
        height: 450px;
        width: 100%;
        margin-top: 20px;
    }

    .networkWrapper {
        margin-top: 50px;
    }

}