.mainBlock {
    min-height: 90vh;
    background-color: grey;
    display: flex;
    align-items: center;
}

.mainContainer {
    border: 1px solid;
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.projectsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.title {
    margin: 0 auto;
    color: #c4cfde;
}
