.titleWrapper {
    /*opacity: 1;*/
    /*-webkit-transform: none;*/
    /*transform: none;*/
    /*transition-delay: 0.1s;*/
    /*transition-property: opacity, transform, -webkit-transform;*/
    /*transition-duration: 0.5s;*/
    /*transition-timing-function: ease;*/
    /*pointer-events: auto;*/
    /*--widgets-spacing: 20px;*/
    /*box-sizing: border-box;*/
    text-align: center!important;
    margin-bottom: 30px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    /*margin: 0 auto;*/
    color: #c4cfde;
    margin-top: 15px;
    margin-bottom: 0;
}

.description {
    color: #f9004d;
    letter-spacing: 1px;
    display: block;
    line-height: 14px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}