@import "../../../styles/Variables";
@import "../../../styles/Mixins";

.skillMainBlock {
  @include backgroundShadow();
  position: relative;
  width: 250px;
  border: 1px solid black;
  padding: 20px;
  margin: 15px 10px;

  .skillContainer {
    position: relative;
    transform: translateY(10px);
    transition: 0.5s all ease-in-out;

    .icon {
      height: 60px;
      width: 66px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      color: $secondaryColor;
    }

    h3 {
      @include fontStyle($primaryFontFamily, 24px, 500, 32px, $primaryColor);
      margin-bottom: 20px;
    }
  }

  &:hover {
    background: linear-gradient(to right bottom, #212428, #16181c);
  }

  &:hover .skillContainer {
    transform: translateY(0px);
    transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  }
}



