.header {
    height: 80px;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}

@media screen and (max-width: 375px) {
    .header {
        justify-content: center;
        padding-right: 0;
    }
}