.nav {
    border: 1px solid;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.nav a {
    text-decoration: none;
    color: #c4cfde;
    font-weight: bold;
}

.nav a:hover {
    color: #ff014f;
}