.iconLink {
    font-size: 17px;
    font-weight: 400;
    transition: 0.4s;
    color: #c4cfde;
    position: relative;
    display: inline-block;
    padding: 0;
    width: 55px;
    height: 55px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    margin: 0 17px 25px 0;
}

.iconLink:hover {
    transform: translateY(-3px);
    background: #ff014f;
}

.iconLink div {
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: center;
    color: #c4cfde;
    font-size: 20px;
    height: 100%;
    line-height: 62px;
    transition: .4s;
    width: 100%;
}

.iconsContainer {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0;
}

@media screen and (min-width: 360px) and (max-width: 740px) {
    .iconLink {
        width: 50px;
        height: 50px;
    }

    .iconsContainer {
        padding-left: 10px;
    }
}
