.mainBlock {
    height: 10vh;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    height: 100%;
    width: 80%;
    border-top: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContainer span {
    color: #c4cfde;
    background-color: lemonchiffon;
}

.links {
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: lemonchiffon;
}

.links a {
    text-decoration: none;
    color: #c4cfde;
}

.links a:hover {
    color: #ff014f;
}

@media screen and (min-width: 360px) {
    .mainBlock {
        height: 15vh;
    }

    .links {
        flex-direction: column;
        width: auto;
    }
}