.mainBlock {
    height: 5vh;
    background-color: #212428;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #878e99;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-weight: 400;
}

.footerContainer {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5px 50px 5px;
}

.footerContainer span {
    color: #c4cfde;
    padding-bottom: 10px;
}
