.skillsBlock {
    min-height: 100vh;
    background-color: teal;
    display: flex;
    align-items: center;
}

.skillsWrapper {
    height: 100%;
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c4cfde;
}

.skillContainer {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    border: 1px solid black;
}

@media screen and (min-width: 360px) {
    .skillContainer {
        justify-content: center;
    }
}