.mainBlock {
    height: 50vh;
    background-color: tan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    height: 80%;
    width: 80%;
    color: #c4cfde;
}

.inputStyle {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.submit {
    color: #ff014f;
}

h3 {
    margin: 0;
}